BOT_TOKEN=PASTE_BOT_TOKEN_HERE
GROUP_CHAT_ID=-1004303649186
TOPIC_ID=254
SPREADSHEET_ID=17uE80RtWfkXb6po79FBYL3t_jP9kXXgHtY9zDVgYpMg
SHEET_NAME=Telegram Ads
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
TIMEZONE=Europe/Warsaw
